blinker==1.4
certifi==2023.7.22
charset-normalizer==3.2.0
command-not-found==0.3
contourpy==1.1.0
cryptography==3.4.8
cycler==0.11.0
DAWG-Python==0.7.2
dbus-python==1.2.18
distro==1.7.0
distro-info===1.1build1
docopt==0.6.2
fonttools==4.41.1
gensim==4.3.1
grpcio==1.56.2
grpcio-tools==1.56.2
httplib2==0.20.2
idna==3.4
importlib-metadata==4.6.4
jeepney==0.7.1
keyring==23.5.0
kiwisolver==1.4.4
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
Mako==1.1.3
MarkupSafe==2.0.1
matplotlib==3.7.2
more-itertools==8.10.0
netifaces==0.11.0
numpy==1.25.1
oauthlib==3.2.0
packaging==23.1
Pillow==10.0.0
pipreqs==0.4.13
protobuf==4.23.4
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.3.0
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyparsing==2.4.7
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
python-apt==2.3.0+ubuntu2.1
python-dateutil==2.8.2
PyYAML==5.4.1
requests==2.31.0
scipy==1.11.1
SecretStorage==3.3.1
six==1.16.0
smart-open==6.3.0
systemd-python==234
ubuntu-advantage-tools==27.12
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.0.4
wadllib==1.3.6
wget==3.2
yarg==0.1.9
zipp==1.0.0
