<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Славянский гейминг</title>
    <link href="static/reset.css" rel="stylesheet" type="text/css">
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        var offsetX;
        var offsetY;
        onload = (event) => {
            var canvas = document.getElementById('myCanvas');
            var ctx = canvas.getContext('2d');
            var canvasOffset = $("#myCanvas").offset();
            offsetX = canvasOffset.left;
            offsetY = canvasOffset.top;
            var isDown = false;
            var cx = canvas.width / 2;
            var cy = canvas.height / 2;
            var w;
            var h;
            var r = 0;
            var dr = 0;
            var img = new Image();
            var dx;
            var dy;
            img.src = 'static/img/colovrat.png';
            img.onload = function () {
                w = img.width;
                h = img.height;
                draw()
            }

            function draw() {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                drawRotationHandle();
                drawRect();
            }

            function drawRect() {
                ctx.save();
                ctx.translate(cx, cy);
                ctx.rotate(r);
                ctx.drawImage(img, 0, 0, img.width, img.height, -w / 2, -h / 2, w, h);
                ctx.restore();
            }

            function drawRotationHandle() {
                ctx.save();
                ctx.translate(cx, cy);
                ctx.rotate(r);
                ctx.restore();
            }

            function handleMouseDown(e) {
                mouseX = parseInt(e.clientX - offsetX);
                mouseY = parseInt(e.clientY - offsetY);
                drawRotationHandle();
                isDown = true;
            }

            function rotationInertia() {
                if (isDown == false && Math.abs(dr) > 0.001) {
                    r += dr * 10;
                    dr -= (dr > 0 ? 0.001 : -0.001);
                    draw();
                    setTimeout(rotationInertia, 30);
                }
            }

            function handleMouseUp(e) {
                isDown = false;
                rotationInertia();
            }

            function handleMouseOut(e) {
                isDown = false;
                rotationInertia();
            }

            function handleMouseMove(e) {
                if (!isDown) { return; }
                mouseX = parseInt(e.clientX - offsetX);
                mouseY = parseInt(e.clientY - offsetY);
                dx = mouseX - cx;
                dy = mouseY - cy;
                newr = Math.atan2(dy, dx);
                dr = newr - r;
                r = newr;
                draw();
                setTimeout(() => {
                    if (isDown) {
                        dr = 0
                    }
                }, 100)
            }

            $("#myCanvas").mousedown(function (e) { handleMouseDown(e); });
            $("#myCanvas").mousemove(function (e) { handleMouseMove(e); });
            $("#myCanvas").mouseup(function (e) { handleMouseUp(e); });
            $("#myCanvas").mouseout(function (e) { handleMouseOut(e); });

            $('#authModal').on('mousedown', function (e) {
                if (e.target !== this)
                    return;
                mouseDown = true;
            });

            $('#authModal').on('mouseup', function (e) {
                if(e.target !== this){
                    mouseDown = false;
                    return;
                }
                if(mouseDown){
                    document.getElementById('authModal').style.display = 'none'
                }
                mouseDown = false;
            });


            $('#reg-form').hide();
            $('#reg-btn').on('click', function (e) {
                $('#auth-form').hide();
                $('#reg-form').show();
            });
            $('#auth-btn').on('click', function (e) {
                $('#reg-form').hide();
                $('#auth-form').show();
            });

            $('#reg-confirm-btn').on('click', function(e) {
                var serializedForm = $("#reg-form").serializeArray();
                var data = {};
                $.each(serializedForm, function() {
                    data[this.name] = this.value || '';
                });
                console.log(data);

                $.ajax({
                    type: "POST",
                    url: window.location.href + "auth/register",
                    data: JSON.stringify(data),
                    success: function(){},
                    dataType: "json",
                    contentType : "application/json"
                  });
            });
        };

        onresize = (event) => {
            var canvasOffset = $("#myCanvas").offset();
            offsetX = canvasOffset.left;
            offsetY = canvasOffset.top;
        }


        const GameStates = {uninitialized : '', gameplay : '', win : ''}; 

        class SemantleGame {
            constructor(websocket) {
                this.websocket = websocket;
                this.state = GameStates.uninitialized;
                this.websocket.addEventListener("message", (event) => {
                    this.onMessage(event.data);
                })
            }

            initGame() {
                var data = {
                    type: "init"
                }
                this.websocket.send(JSON.stringify(data));
            }

            handleWord(word) {
                var data = {
                    type: "word",
                    word: word,
                }
                this.websocket.send(JSON.stringify(data));
            }

            onMessage(msg) {
                var msg_json = JSON.parse(msg);
                if(!msg_json.hasOwnProperty("type")) {
                    console.log("Message not contain type")
                    return
                }
                if(msg_json["type"] == "error"){
                    console.log("Error " + msg_json["text"]);
                    return;
                }
                if(msg_json["type"] == "word"){
                    console.log("Word " + msg_json["word"] + " " + msg_json["similarity"]);
                    if(msg_json["similarity"] == null) {
                        console.log('Нет такого слова')
                        return;
                    }
                    appendWordToTable(msg_json["word"], msg_json["similarity"]);
                    return;
                }
            }
        }

        var ws = new WebSocket("ws://" + window.location.host + "/ws");

        var game = new SemantleGame(ws);

        function sendWord() {
            if(game.sate == GameStates.uninitialized){
                game.initWord()
            }
            game.handleWord($('#input-word').val())
        }

        function createWordRow(number, word, similarity) {
            var row = $("<tr>");
            row.append($("<td>").html(number));
            row.append($("<td>").html(word));
            row.append($("<td>").html(similarity));
            return row;
        }

        function appendWordToTable(word, similarity) {
            var tbody = $('.words__table > tbody');
            var rows = tbody.children('tr');
            if(rows.length == 0) {
                tbody.append(createWordRow(1, word, similarity));
                return;
            }

            for(var i = 0; i < rows.length; i++) {
                var cur = parseFloat(rows.eq(i).children('td').eq(2)[0].innerHTML)
                if(cur < similarity) {
                    rows.eq(i).before(createWordRow(rows.length + 1, word, similarity));
                    return;
                }                
            }

            tbody.append(createWordRow(rows.length, word, similarity))
        }

    </script>
</head>

<body>
    <!-- The Modal -->
    <div id="authModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="document.getElementById('authModal').style.display = 'none'">&times;</span>
            <br>
            <div class="form_auth_block">
                <div class="form_auth_block_content">
                    <div class="toggles">
                        <input type="radio" class="toggle__input" name="auth__reg" id="auth-btn" checked>
                        <label for="auth-btn" class="toggle__label">Авторизация</label>
                        <input type="radio" class="toggle__input" name="auth__reg" id="reg-btn">
                        <label for="reg-btn" class="toggle__label">Регистрация</label>    
                    </div>

                    <!-- <p class="form_auth_block_head_text">Авторизация</p> -->
                    <form class="form_auth_style form_auth_reg" action="auth/database/login" method="post" id="auth-form">
                        <div class="form__container">
                            <div class="auth__input__rect">
                            <input type="email" class="input__field" name="username" placeholder="Введите имейл"
                                required>
                            </div>
                        </div>
                        <div class="form__container">
                            <div class="auth__input__rect">
                                <input type="password" class="input__field" name="password" placeholder="Введите пароль"
                                required>
                            </div>
                        </div>
                        <div class="form__container">
                            <button class="form_auth_button btn" type="submit" name="form_auth_submit">Войти</button>
                        </div>
                    </form>

                    <form class="form_reg_style form_auth_reg" id="reg-form">
                        <div class="form__container">
                            <div class="auth__input__rect">
                            <input type="email" class="input__field" name="email" placeholder="Введите имейл"
                                required>
                            </div>
                        </div>
                        <div class="form__container">
                            <div class="auth__input__rect">
                            <input type="text" class="input__field" name="username" placeholder="Введите имя пользователя"
                                required>
                            </div>
                        </div>
                        <div class="form__container">
                            <div class="auth__input__rect">
                                <input type="password" class="input__field" name="password" placeholder="Введите пароль"
                                required>
                            </div>
                        </div>
                        <div class="form__container">
                            <button class="form_auth_button btn" type="button" name="form_auth_submit" id="reg-confirm-btn">Регистрация</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="wrapper">
        <div class="content">
            <header class="header">
                <div class="header__colovrat">
                    <canvas id="myCanvas" width="53" height="53"></canvas>
                </div>
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item">
                            <button class="header__link"
                                onclick="document.getElementById('authModal').style.display = 'block';">Вход</button>
                        </li>
                        <li class="header__item">
                            <a href="" class="header__link">Как играть</a>
                        </li>
                        <li class="header__item">
                            <a href="" class="header__link">О нас</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main class="main">
                <div class="naming__wrapper">
                    <a class="naming">NUIHUETA</a>
                </div>

                <div class="input__rect">
                    <label class="input">
                        <input class="input__field" type="text" placeholder=" " id="input-word"/>
                        <span class="input__label">Введите слово</span>
                    </label>
                    <button class="btn" onclick="sendWord()">Поехали</button>
                </div>

                <table class="words__table">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Слово</td>
                            <td>Схожесть</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </main>
        </div>
    </div>
</body>

</html>